/**/
/*lab 12 part 2 css*/
*{/*change entire page*/
  font-family:sans-serif;/*change font family to sans-sefir*/
}
body{
	    background: white url(https://www.pngfind.com/pngs/m/10-100683_scpinkcolor-sticker-courage-the-cowardly-dog-clipart-hd.png) repeat top left;
	
}
p{
    font-size:12px;/*change font size to 12px*/
    text-decoration:line-through;
}
h1{
    color:#008000; /*change your largest header to green*/
    background-color: #888888;/*change background color to gray*/
    text-transform: uppercase; /*makes things uppercase*/
    margin: 20px; /*gives 20px of space*/
    padding: 40px;

}
/*change header h1 and h2 to gray*/
h2{
    
    background-color: #888888;
    text-decoration:underline;/*use text decoration to underline the text*/
}
/*add an ID selector for #intro */
#intro{
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
/*add an class selector for spotlight*/
.spotlight{
  background-color: #fefe22;
}

h2,p{
  color:#0f3b20;
}

a:active {
    color: red;
}

a:hover {
    text-decoration: none;
    text-transform: uppercase;
}
/*https://www.htmldog.com/guides/css/intermediate/grouping/*/
