/**/
/*lab 12 part 2 css*/
*{/*change entire page*/
  font-family:sans-serif;/*change font family to sans-sefir*/
}
p{
    color: #0000FF;
    font-size:12px;/*change font size to 12px*/
    text-decoration:line-through;
}
h1{
    color:#008000; /*change your largest header to green*/
    background-color: #888888;/*change background color to gray*/
    text-transform: uppercase; /*makes things uppercase*/
    margin: 20px; /*gives 20px of space*/
    padding: 40px;
    
}
/*change header h1 and h2 to gray*/
h2{
    color:#0000ff;
    background-color: #888888;
    text-decoration:underline;/*use text decoration to underline the text*/
}
